body{
    margin: 0%;
    font-family: 'Noto Sans', sans-serif;
}
.menu-bar{
   text-align-last: right;
}
p{
    color:lightslategray;
}
h2{
    color: mediumslateblue;

}
h1{
    color: darkviolet;
}
.menu-bar {
    height: 50px;
}

.top-nav{
    float: right;
    text-align: right;
    padding: 15px 160px;
    text-decoration: none;
    font-size: 17px;
    word-spacing: 25px;
    font-weight: bolder;
  }

  .top-nav a{
      text-decoration: none;
      color: rgb(212, 0, 255);
  }
  section{
    height: 500px;
    
}
  .half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
  .half-width img{
    width: 80%;
    padding-top: 15px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat; 
}

.link-button{
    text-decoration: none;
    background-image:linear-gradient( rgb(235, 16, 198),rgb(210, 104, 231) );
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
}
#ab {
    padding-top: 50px;
}
.work-area{
    
    background-color: rgb(251, 231, 253);
}
.work-area h2{
    text-align: center;
    padding: 20px;  
}
.name-highlight{
    color: rgb(226, 4, 247);
}

.project-area{
    width: 90%;
    height: 60%;
    margin:20px 50px 20px 50px;
    border-radius: 20px;
}
.projects{
    width: 25%;
    height: 100%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    border-radius: 20px;
    background-color:rgb(245, 195, 245);
    box-shadow: 3px 3px 30px rgb(177, 99, 250);
    border-radius: 10px;

}
.projects img{
    width: 87%;
    height: 50%;
    padding-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.projects h4{
    padding-left: 12px;
}
.half-height{
    height: 50%;
    border: purple solid;
}

.half-height img{
    height: 50%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}